.story__pictures {
  grid-column: full-start / col-end 4;
  grid-row: 6 / 7;
  position: relative;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;

  @media only screen and (min-resolution: 192dpi) and (min-width: 900px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 900px),
    only screen and (min-width: 1500px) {
      background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back-1500.jpg);
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 600px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 600px),
    only screen and (min-width: 1200px) {
      background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back-915.jpg);
    }

    @media only screen and (min-resolution: 192dpi) and (min-width: 450px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 450px),
    only screen and (min-width: 900px) {
      background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back-603.jpg);
    }

    @media only screen and (min-resolution: 192dpi) and (max-width: 449px),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 449px),
    only screen and (max-width: 899px) {
      background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back-500.jpg);
    }
  
  
  @include breakpoint(800) {
    grid-column: full-start / full-end;
    grid-row: 6 / 7;

  }
}

.story__buyer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  object-fit: cover;

  @include breakpoint(800) {
    width: 50vw;
    left: 35%;
  }
}

.story__home {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26vw;
  object-fit: cover;

  @include breakpoint(800) {
    width: 40vw;
    transform: translateY(-50%);
  }
}


.story__content {
  background: $color-grey-light-1;
  grid-column: col-start 5 / full-end;
  grid-row: 6 / 7;

  display: grid;
  padding: 6rem 8vw;
  align-content: center;
  justify-items: start;
  grid-row-gap: 1.4rem;
  
  @include breakpoint(800) {
    grid-column: full-start / full-end;
    grid-row: 5 / 6;
    padding: 5rem 7rem;
    grid-row-gap: 2rem;

  }

  .story__heading {
    font-size: 3.6rem;
    font-weight: 400;
    font-family: $font-display;
    font-style: italic;
    line-height: 1;
  }

  .story__details {
    font-size: 1.4rem;
    font-style: italic;
    color: $color-grey-dark-2;


  }
}